.btn {
    &:hover {
    }
    &:focus {
    }
    &:active {
    }
    &-primary {
        &:hover {
        }
    }
    &-secondary {
        &:hover {
        }
    }
    &-contour {
        &:hover {
        }
    }
    &-filter {
        &:hover {
        }
    }
}
.input,
textarea {
    border: unset;
    &::placeholder {
    }
}
button {
    background: unset;
    border: unset;
    padding: unset;
    cursor: pointer;
}
