$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-basket: "\e900";
$icon-bell: "\e901";
$icon-chat: "\e902";
$icon-check: "\e903";
$icon-close: "\e904";
$icon-doc: "\e905";
$icon-hand: "\e906";
$icon-like: "\e907";
$icon-plus: "\e908";
$icon-search: "\e909";
$icon-options: "\e90a";
$icon-arrow: "\e90b";
